@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

* {
    font-family: 'Orbitron', sans-serif;  /* Use the correct font family */
    font-optical-sizing: auto;
    font-weight: 700;  /* Change this to 700 or 400 for better results */
    font-style: normal;
}

/* Navbar dropdown styles */
.relative:hover .dropdown-content {
    display: block; /* Show dropdown when the button is hovered */
  }
  
/* Navbar dropdown styles */
.relative {
    position: relative;
  }
  
  .dropdown-content {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #333;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .dropdown-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #444;
    color: #fff;
  }
  
  .planet-button {
    border: 2px solid white; /* Add a white border */
    padding: 10px 20px; /* Optional: Add padding to make the button more clickable */
    border-radius: 8px; /* Optional: Add rounded corners */
    background-color: transparent; /* Keep background transparent */
    color: white; /* Make the text white */
    font-weight: 700; /* Optional: Make the font bold */
    text-transform: uppercase; /* Optional: Make text uppercase */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Add hover effect for the planet button */
.planet-button:hover {
    background-color: #206ec8; /* Change background on hover */
    border-color: #ddd; /* Lighten the border color on hover */
    color: #fff; /* Keep text color white on hover */
}

@media (max-width: 640px) {
  .title {
    display: none; /* Explicitly hide the title */
  }
}

  